<div class="overlay-tarea" *ngIf="visible">

    <div class="modal-tarea">

        <div class="header">

            <h2>
                {{ modo === 'crear' ? 'Nueva tarea' : 'Editar tarea' }}
            </h2>

            <button (click)="cerrar.emit()">
                ✕
            </button>

        </div>

        <div class="contenido">

                <label>Local solicitante</label>

            <select [(ngModel)]="tarea.sector">

                <option>831</option>

                <option>856</option>

                <option>817</option>

            </select>

                <label>Sector</label>

            <select [(ngModel)]="tarea.sector">

                <option>cons1</option>

                <option>cons2</option>

                <option>con3</option>

            </select>
                <label>Tipo de requerimiento</label>
                        <select [(ngModel)]="tarea.tipoRequiriemiento">

                <option>Pintureria</option>

                <option>Aire acondicionado</option>

                <option>Electricidad</option>

            </select>


            <label>Descripción</label>

    <textarea
  [(ngModel)]="tarea.descripcion"
  maxlength="200">
</textarea>

<p>{{ tarea.descripcion.length || 0 }}/200</p>


            <label>Prioridad</label>

            <select [(ngModel)]="tarea.prioridad">

                <option>ALTA</option>

                <option>MEDIA</option>

                <option>BAJA</option>

            </select>

            <label>Asignar empleados</label>

            <div class="empleados-grid">

                <div
                    class="empleado-item"
                    *ngFor="let empleado of empleadosDisponibles"
                >

                    <input
                        type="checkbox"

                        [checked]="tarea.empleados.includes(empleado)"

                        (change)="toggleEmpleado(empleado)"
                    >

                    <span>
                        {{ empleado }}
                    </span>

                </div>

            </div>

            <label>Fecha estimada a finalizar</label>

            <input
                type="date"
                [(ngModel)]="tarea.fechaLimite"
            >

        </div>

        <div class="acciones">

            <button
                class="btn-secondary"
                (click)="cerrar.emit()"
            >
                Cancelar
            </button>

            <button
                class="btn-primary"
                (click)="guardar()"
            >
                Guardar
            </button>

        </div>

    </div>

</div>
