<app-header></app-header>

<div class="contenedor">

    <div class="header">
        <div>
            <h1>Mantenimiento</h1>
            <p>Gestión de tareas y mantenimiento</p>
        </div>
        <div class="acciones-header">
            <button class="nueva-tarea" (click)="abrirModal()">+ Nueva tarea</button>
            <button class="descargar-pdf" (click)="descargarPdf()">Descargar pdf</button>
        </div>
    </div>

    <!-- TABS -->
    <div class="tabs">
        <button class="tab" [class.activo]="vistaActual === 'activas'" (click)="vistaActual = 'activas'">
            Activas
            <span class="badge">{{ tareasActivas.length }}</span>
        </button>
        <button class="tab" [class.activo]="vistaActual === 'finalizadas'" (click)="vistaActual = 'finalizadas'">
            Finalizadas
            <span class="badge finalizadas">{{ tareasFinalizadas.length }}</span>
        </button>
    </div>

    <!-- ACTIVAS -->
    <div class="grid-tareas" *ngIf="vistaActual === 'activas'">
        <app-tarea-card *ngFor="let tarea of tareasActivas" [tarea]="tarea" (verDetalle)="abrirDetalle(tarea)"
            (editar)="abrirEditar(tarea)">
        </app-tarea-card>
        <p class="empty" *ngIf="!tareasActivas.length">No hay tareas activas.</p>
    </div>

    <!-- FINALIZADAS -->
    <div class="grid-tareas" *ngIf="vistaActual === 'finalizadas'">
        <app-tarea-card *ngFor="let tarea of tareasFinalizadas" [tarea]="tarea" (verDetalle)="abrirDetalle(tarea)"
            (editar)="abrirEditar(tarea)">
        </app-tarea-card>
        <p class="empty" *ngIf="!tareasFinalizadas.length">No hay tareas finalizadas.</p>
    </div>

</div>

<app-modal-tarea [visible]="mostrarModal" [modo]="modoModal" [tarea]="tareaSeleccionada"
    (cerrar)="mostrarModal = false">
</app-modal-tarea>

<app-modal-detalle [visible]="mostrarDetalle" [tarea]="tareaSeleccionada" (cerrar)="mostrarDetalle = false">
</app-modal-detalle>