<div class="tarea-card" [class.no-realizado]="tarea.estado === 'NO_REALIZADO'">

    <!-- HEADER -->
    <div class="top">


        <div class="titulo-container">

            <h3>
                Aire acondicionado {{ tarea.tipoRequiriemiento }}
            </h3>

        </div>
        <span class="estado" [class.pendiente]="tarea.estado === 'PENDIENTE'"
            [class.finalizado]="tarea.estado === 'FINALIZADO'"
            [class.no-realizado-text]="tarea.estado === 'NO_REALIZADO'">
            {{ tarea.estado }}
        </span>

    </div>

    <!-- DESCRIPCION -->
    <p class="descripcion">
        {{ tarea.descripcion }}
    </p>

    <!-- INFO RAPIDA -->
    <div class="info-grid">

        <div class="info-item">
            <span class="label">Local</span>
            <span>831{{ tarea.localSolicitante }}</span>
        </div>

        <div class="info-item">
            <span class="label">Prioridad</span>

            <span class="prioridad" [class.alta]="tarea.prioridad === 'ALTA'"
                [class.media]="tarea.prioridad === 'MEDIA'" [class.baja]="tarea.prioridad === 'BAJA'">
                {{ tarea.prioridad }}
            </span>

        </div>

        <div class="info-item">
            <span class="label">Creación</span>
            <span>{{ tarea.fechaCreacion }}</span>
        </div>

        <div class="info-item">
            <span class="label">Fecha Objetivo</span>
            <span>{{ tarea.fechaLimite }}</span>
        </div>

    </div>

    <!-- EMPLEADOS -->
    <div class="empleados-lista" *ngIf="tarea.asignados?.length">

        <span class="empleado-chip" *ngFor="let asignado of tarea.asignados">
            {{ asignado }}
        </span>

    </div>

    <!-- ACCIONES -->
    <div class="acciones">

        <button class="btn-primary" (click)="verDetalle.emit()">
            Ver detalle
        </button>

        <button class="btn-secondary" (click)="editar.emit()">
            Editar
        </button>

    </div>

</div>