<div class="overlay-detalle" *ngIf="visible">

    <div class="modal-detalle">

        <div class="header">

            <h2>
                {{ tarea.titulo }}{{ tarea.tipoRequerimiento }}
            </h2>

            <button (click)="cerrar.emit()">
                ✕
            </button>

        </div>

        <div class="detalle">

            <p>
                {{ tarea?.descripcion }}
            </p>

            <div class="fila">

                <strong>Creador:</strong>

                <span>
                    {{ tarea.creador }}
                </span>

            </div>

           
          

            <div class="fila">

                <strong>Tiempo de demora:</strong>

                <span>
                    0 Días{{ tarea?.fechaLimite - tarea?.fechaCreacion | date:'short' }}
                </span>

            </div>

            <div class="empleados">

                <span *ngFor="let emp of tarea?.empleados">
                    {{ emp }}
                </span>

            </div>

        </div>

        <div *ngIf="tarea?.estado !== 'FINALIZADO'" class="acciones">

            <button class="btn-primary">
                Finalizar tarea
            </button>

        </div>

    </div>

</div>