<div class="overlay-detalle" *ngIf="visible">

    <div class="modal-detalle">

        <div class="header">

            <h2>
                {{ tarea.titulo }}{{ tarea.tipoRequerimiento }}
            </h2>

            <button (click)="cerrar.emit()">
                ✕
            </button>

        </div>

        <div class="detalle">

            <p>
                {{ tarea?.descripcion }}
            </p>

            <div class="fila">

                <strong>Creador:</strong>

                <span>
                    {{ tarea.creador }}
                </span>

            </div>




            <div class="fila">

                <strong>Tiempo de demora:</strong>

                <span>
                    0 Días{{ tarea?.fechaLimite - tarea?.fechaCreacion | date:'short' }}
                </span>

            </div>

            <!-- TAREA NO FINALIZADA -->
            <div *ngIf="tarea?.estado !== 'FINALIZADO'" class="observacion-container">

                <label for="observacion">
                    <strong>Observación</strong>
                </label>

                <textarea id="observacion" [(ngModel)]="observacion" [maxlength]="maxCaracteres"
                    placeholder="Ingrese una observación breve...">
                </textarea>

                <small>
                    {{ observacion.length }}/{{ maxCaracteres }}
                </small>

            </div>

            <!-- TAREA FINALIZADA -->
            <div *ngIf="tarea?.estado === 'FINALIZADO'" class="fila">

                <strong>Observación:</strong>

                <span>
                    {{ tarea?.observacion || '-' }}
                </span>

            </div>
        </div>
        <div *ngIf="tarea?.estado !== 'FINALIZADO'" class="acciones">

            <button class="btn-cancelar">
                Cancelar tarea
            </button>

            <button class="btn-primary">
                Finalizar tarea
            </button>

        </div>

    </div>

</div>